*{
  background-color: #1D2162;
  text-align: center;
  margin: 0;
  padding: 0;
}
  
h1{
  color: #FFF
}
  
button {
  background-color: #1E90FF;
  color: #FFF;
  height: 50px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  font-size: 35px;
  cursor: pointer;
}

.label{
  margin: 10px;
  color: #FFF;
  font-size: 35px;
}

.App{
  position: absolute;
  top: 35%;
  left: 40%;
}